Source: i40e-dkms
Section: non-free/kernel
Priority: optional
Maintainer: Zang MingJie <zealot0630@gmail.com>
Build-Depends: debhelper (>= 9), dkms

Package: i40e-dkms
Architecture: all
Depends: ${misc:Depends}
Description: DKMS source for the Intel i40e network driver
